APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost:8000

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.sendgrid.net
MAIL_PORT=587
MAIL_USERNAME=apikey
MAIL_PASSWORD=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
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=info@sindikker.ristekdikti.go.id
MAIL_FROM_NAME="Sindikker Dikti"

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
