/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json

# IDE Related
/.idea
/nbproject/private/
*.code-workspace
_ide_helpder.php

# Public Folder
/public/vendor
/public/node_modules
/public/file/
/public/images
/public/audios
/public/file-pengumuman
/public/file-regulasi

# Etc
.DS_Store